<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- https://learn.microsoft.com/en-us/ef/core/miscellaneous/connection-strings -->
	<connectionStrings>
		<add name="VeterinaryDatabase" connectionString="Server=(localdb)\localdbdemo;Database=VeterinaryDb;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>